ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: "Verdana", serif;
}

li a:hover {
background-color: #111;
}

h1 {
    font-family: "Verdana", serif;
    padding: 10px 50px 0px 50px
}
h2 {
    font-family: "Verdana", serif;
    padding: 0px 50px 10px 50px
}
h3 {
    font-family: "Verdana", serif;
   
}
h4 {
    font-family: "Verdana", serif;
}
h6 {
    font-family: "Verdana", serif;
}
p {
    font-family: "Verdana", serif;
}

.div-1 {
    float: left;
}
