---
layout: publication
authors:
  - Xinrui Fang
  - Reese Fairchild
  - Nasi Wang
  - Anran Xu
  - Simo Hosio
  - Sylvain Malacria
  - Koji Yatani
description: Evaluating how researchers evaluate inline citations in peer review.
link: https://arxiv.org/abs/2610.05355
pdf: https://arxiv.org/pdf/2610.05355
tags:
  - Research Processes
  - Peer Review
  - Artificial Intelligence
  - Survey Study
title: Rethinking Inline Citation Verification in Scholarly Communication
venue: arXiv
venue_tags:
  - arXiv
type:
  - Preprint
year: 2026
---