---
layout: publication
authors:
  - Xinrui Fang
  - Reese Fairchild
  - Nasi Wang
  - Anran Xu
  - Simo Hosio
  - Sylvain Malacria
  - Koji Yatani
description: We evaluate how researchers evaluate inline citations in peer review through a large scale survey of reviewers. We learn that the type of citation being evaluated affects the effort to validate and the percived importance of the citation. We also learn that many reviewers desire some GenAI tool to help flag citations that they should verify, in order to reduce the burden of peer review.
link: https://arxiv.org/abs/2610.05355
pdf: https://arxiv.org/pdf/2610.05355
tags:
  - Research Processes
  - Peer Review
  - Artificial Intelligence
  - Survey Study
title: Rethinking Inline Citation Verification in Scholarly Communication
venue: arXiv
venue_tags:
  - arXiv
type:
  - Preprint
year: 2026
date: 10-06
---